* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: azure;
    background-image: -webkit-linear-gradient(rgb(204, 45, 45), rgb(203, 163, 163), rgb(141, 14, 14));
    min-height: 800px;
}

#game {
    height: 500px;
    width: 400px;
    border: 1px solid black;
    background: url("../images/flap.jpg");
    background-size: cover;
    margin: 1rem auto;
    overflow: hidden;
    background-size: cover;
}

#block {
    width: 50px;
    height: 500px;
    background-color: rgb(206, 16, 20);
    position: relative;
    left: 400px;
    animation: block 2s linear infinite;
}

@keyframes block {
    0% {
        left: 400px;
    }

    100% {
        left: -50px;
    }
}

#hole {
    height: 150px;
    width: 50px;
    background-color: green;
    position: relative;
    left: 400px;
    top: -500px;
    animation: block 2s linear infinite;
}

#bird {
    position: fixed;
    top: 100px;
    height: 50px;
    width: 50px;
}

#bird img {
    height: 50px;
    width: 50px;
}

#result {
    height: 200px;
    width: 500px;
    background-color: rgb(67, 224, 172);
    margin: 5rem auto;
    border: 2px solid white;
    border-radius: 20px;
    display: none;
    text-align: center;
}

#butt {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 11px;
    background-color: rgb(91, 80, 13);
    color: beige;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 1rem;
    cursor: pointer;
}

#text {
    margin-top: 1rem;
    font-size: 2rem;
    color: azure;
}